body {
    font-family: Trebuchet MS;
    margin: 0;
}

#home-background {
    background-image: url("static/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(60%);
    height: 100%;
}

#home-content {
    font-size: 175%;
    color: white;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 10%;
    height: 56%;
    padding: 10% 0;

    & > h1, & > h5 {
        text-shadow: 0 0 50px green;
        font-weight: 900;
        margin: 50px 0;
    }

    .fields {
        font-size: 75%;
        background-color: inherit;
        color: white;
        border: 0px;
        border-bottom: 1px solid white;
        padding: 5px;
    }

    #bin-selector > option {
        color: green;
        background-color: white;
    }

    #postal-field {
        width: 130px;

        &::placeholder {
            color: white;
        }
    }
}

#filter-bar {
    background-color: #F3FAEC;
    border-top: 5px solid green;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    z-index: 1;

    & > h3 {
        display: inline;
    }

    .fields {
        border: 1px solid green;
        border-radius: 10px;
        font-size: 12pt;
        padding: 8px;
        margin-left: 5px;
        margin-right: 75px;
    }

    #postal-field {
        width: 100px;
    }
}

#map-section {
    height: calc(100% - 85px);
    background-color: yellow;
    margin-top: -15px;
}

.fields {
    font-family: inherit;
    text-align: center;
}

.button-1 {
    background-color: green;
    color: #F3FAEC;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: bold;

    &:hover {
        background-color: #F3FAEC;
        color: green;
        border: 2px solid green;
    }
}

.button-2 {
    background-color: #F3FAEC;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;

    &:hover {
        background-color: green;
        color: #F3FAEC;
    }
}

.link {
    color: green;
    font-style: italic;
    text-decoration: initial;

    &:hover {
        text-decoration: underline;
    }
}