body {
    font-family: Trebuchet MS;
    background-image: url("static/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0;
}

.black-layer {
    background-color: black;
    height: 100%;
    opacity: 0.5;
}

.content {
    font-size: 175%;
    color: white;
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 10%;

    & > h1, & > h5 {
        text-shadow: 0 0 50px green;
        font-weight: 900;
        margin: 50px 0;
    }

    .fields {
        font-family: inherit;
        font-size: inherit;
        padding: 0px 5px;
        background-color: inherit;
        color: white;
        border: 0px;
        border-bottom: 1px solid white;
        text-align: center;

        &:focus {
            border: 0px;
            border-bottom: 1px solid white;
        }
    }

    #postal-field {
        width: 155px;

        &::placeholder {
            color: white;
        }
    }
}

.button-1 {
    background-color: green;
    color: #F3FAEC;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: bold;

    &:hover {
        background-color: #F3FAEC;
        color: green;
        border: 2px solid green;
    }
}

.button-2 {
    background-color: #F3FAEC;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;

    &:hover {
        background-color: green;
        color: #F3FAEC;
    }
}

.link {
    color: green;
    font-style: italic;
    text-decoration: initial;

    &:hover {
        text-decoration: underline;
    }
}