body {
    font-family: Trebuchet MS;
    margin: 0;
}

#home-background {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(60%);
    height: 100%;
}

#home-content {
    font-size: 175%;
    color: white;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 10%;
    height: 56%;
    padding: 10% 0;

    & > h1, & > h5 {
        text-shadow: 0 0 50px green;
        font-weight: 900;
        margin: 50px 0;
    }

    .fields {
        font-size: 75%;
        background-color: inherit;
        color: white;
        border: 0px;
        border-bottom: 1px solid white;
        padding: 5px;
    }

    #bin-selector > option {
        color: green;
        background-color: white;
    }

    #postal-field {
        width: 130px;

        &::placeholder {
            color: white;
        }
    }
}

#filter-bar {
    background-color: #F3FAEC;
    border-top: 5px solid green;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    z-index: 1;

    & > h3 {
        display: inline;
    }

    .fields {
        border: 1px solid green;
        border-radius: 10px;
        font-size: 12pt;
        padding: 8px;
        margin-left: 5px;
        margin-right: 75px;
    }

    #postal-field {
        width: 100px;
    }
}

#left-side-buttons {
    position: absolute;
    top: 85px;
    height: calc(100% - 85px);
    width: 50px;
    border-right: 1px solid #DFDFDF;

    #toggle-pin-points-button {
        margin: 5px;
        width: 40px;
        height: 46px;
        background-color: inherit;
        border: 0px;

        &:hover {
            background-color: #F3FAEC;
        }
    }
}

#pin-points-section {
    position: absolute;
    width: 300px;
    height: calc(100% - 85px);
    top: 85px;
    left: 50px;
    overflow: auto;

    .pin-point-details {
        background-color: #DBF0C6;
        border-radius: 15px;
        padding: 15px;
        margin: 10px 10px 0 10px;

        & > h4 {
            margin: 0px;
            margin-bottom: 5pt;
            color: green;
        }

        & > p {
            margin: 0px;
            font-size: 10pt;
        }
    }
}

.show-pin-points-section {
    width: calc(100% - 350px);
    left: 350px;
}

.hide-pin-points-section {
    width: calc(100% - 50px);
    left: 50px;
}

#map-section {
    position: absolute;
    height: calc(100% - 85px);
    top: 85px;

    #map {
        height: 100%;
    }
}

.fields {
    font-family: inherit;
    text-align: center;
}

.button-1 {
    background-color: green;
    color: #F3FAEC;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: bold;

    &:hover {
        background-color: #F3FAEC;
        color: green;
        border: 2px solid green;
    }
}

.button-2 {
    background-color: #F3FAEC;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: inherit;

    &:hover {
        background-color: green;
        color: #F3FAEC;
    }
}

.link {
    color: green;
    font-style: italic;
    text-decoration: initial;

    &:hover {
        text-decoration: underline;
    }
}